<ion-header>
	<ion-toolbar>
		<ion-button
			(click)="dismiss()"
			class="back-button"
			slot="start"
			mode="ios">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-button>
		<ion-title class="toolbar-title">CHANGE PASSWORD</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="form-container">
		<form class="change-password-form" [formGroup]="changePasswordForm">
			<div class="inline-wrapper">
				<ion-item>
					<ion-label position="floating">Old Password*</ion-label>
					<ion-input
						[type]="hidePassword ? 'password' : 'text'"
						formControlName="oldPassword">
					</ion-input>
				</ion-item>
				<img
					id="old-pass-toggle"
					[src]="hidePassword ? '/assets/icon/App_Icon_View_Off.svg' : '/assets/icon/App_Icon_View_On.svg'"
					(click)="toggleHidePassword()">
			</div>
			<div class="error-wrap">
				<span
					class="error"
					*ngIf="oldPassword.hasError('required') && oldPassword.touched">
					Required field
				</span>
				<span
					class="error"
					*ngIf="oldPassword.hasError('minlength')">
					Password must be 6 characters long
				</span>
			</div>
			<div class="inline-wrapper">
				<ion-item>
					<ion-label position="floating">New Password*</ion-label>
					<ion-input
						[type]="hidePassword ? 'password' : 'text'"
						formControlName="newPassword">
					</ion-input>
				</ion-item>
				<img
					id="new-pass-toggle"
					[src]="hidePassword ? '/assets/icon/App_Icon_View_Off.svg' : '/assets/icon/App_Icon_View_On.svg'"
					(click)="toggleHidePassword()">
			</div>
			<div class="error-wrap">
				<span
					class="error"
					*ngIf="newPassword.hasError('required') && newPassword.touched">
					Required field
				</span>
				<span
					class="error"
					*ngIf="newPassword.hasError('minlength') && newPassword.touched">
					Password must be 6 characters long
				</span>
			</div>
			<div class="inline-wrapper">
				<ion-item>
					<ion-label position="floating">Confirm Password*</ion-label>
					<ion-input
						[type]="hidePassword ? 'password' : 'text'"
						formControlName="confirmPassword">
					</ion-input>
				</ion-item>
				<img
					id="confirm-pass-toggle"
					[src]="hidePassword ? '/assets/icon/App_Icon_View_Off.svg' : '/assets/icon/App_Icon_View_On.svg'"
					(click)="toggleHidePassword()">
			</div>
			<div class="error-wrap">
				<span
					class="error"
					*ngIf="confirmPassword.hasError('minlength') && confirmPassword.touched">
					Password must be 6 characters long
				</span>
				<span
					class="error"
					*ngIf="confirmPassword.hasError('isMatching') && confirmPassword.touched">
					Passwords must be matching
				</span>
			</div>
		</form>
	</div>
	<ion-button
		[disabled]="changePasswordForm.invalid"
		class="save-button"
		mode="ios"
		color="primary"
		(click)="changePassword()">
		SAVE
	</ion-button>
</ion-content>
