ion-toolbar {
	ion-button.back-button::part(native) {
		padding: 0 0 0 4px;
	}
	ion-icon{
		color: var(--ion-color-primary-contrast);
		font-size: 1.7rem;
	}

	.toolbar-title {
		color: var(--ion-color-primary-contrast);
		font-size:18px;
		font-weight: 700;
		margin-right: 32px;
		text-align: center;
	}
}

div.form-container {
	margin: 1rem 0.5rem 0 1rem;

	form.change-password-form {
		font-size: 12px;

		div.inline-wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			img {
				color: var(--ion-color-dark);
				position: absolute;
				right: 24px;
				width: 25px;
				z-index: 1;
			}

			img#old-pass-toggle {
				top: 75px;
			}

			img#new-pass-toggle {
				top: 166px;
			}

			img#confirm-pass-toggle {
				top: 258px;
			}

			ion-item {
				display: flex;
				font-weight: 400;
				font-size: 14px;
				margin-top: 18px;
				width: 100%;
			}
		}

		.error-wrap {
			align-self: start;
			display: flex;
			color: var(--ion-color-danger);
			flex-direction: column;
			min-height: 17px;
			max-height: 17px;
		}


		ion-label {
			color: var(--ion-color-medium);
			font-weight: 400;
			font-family: Open Sans, sans-serif;
			margin-bottom: 1px;
			margin-right: 6px;
		}
	}
}

ion-button.save-button {
	--border-radius: 0px;
	display: flex;
	flex-direction: column;
	font-weight: 700;
	margin-top: 20px;
}
