<ion-header class="home-header">
	<ion-toolbar class="home-toolbar">
		<ion-button
			mode="ios"
			slot="start"
			routerDirection="back"
			routerLink="/settings">
			<ion-icon name="settings"></ion-icon>
		</ion-button>
		<ion-searchbar
			mode="md"
			placeholder="Search"
			(ionChange)="updateSearch()"
			[(ngModel)]="searchBar">
		</ion-searchbar>
		<ion-button
			mode="ios"
			slot="end"
			(click)="openFavoritesModal()">
			<ion-icon name="star"></ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ng-container *ngFor="let category of foodCategories | keyvalue:sortCategories; trackBy:trackByCategory">
		<code-group
			(favoriteEmitter)="captureFavoriteEvent($event)"
			[name]="category.key"
			[foodCodes]="category.value"
			[showCodesOnly]="showCodesOnly">
		</code-group>
	</ng-container>
</ion-content>
