<h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO:Iterate users and list first name last name and username -->
        <tr *ngFor="ley uDet of users">
            <!-- first name -->
            <td>{{uDet.firstName}}</td>
            <!-- last name -->
            <td>{{uDet.lastName}}</td>
            <td>{{uDet.username}}</td>
            <td style="white-space: nowrap">
                <!-- TODO:navigate to edit with user id -->
                <a  routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <!-- TODO:Delete user on click disabled when use is deleting-->
                <button  class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <!-- TODO: uncomment -->
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
