<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title class="header-title">EDIT PROFILE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-card>
          <ion-header>
            <ion-card-header color="dark">Welcome to your Profile</ion-card-header>
          </ion-header>
          <ion-item class="avatar">
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-subtitle class="username" color="dark">{{currentUser?.firstname}} {{currentUser?.lastname}}</ion-card-subtitle>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="edit"><ion-card-subtitle>Edit your profile here!</ion-card-subtitle></ion-label>
          </ion-item>
          <div *ngIf="editForm">
            <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
              <ion-card-content>
                <ion-list>

                  <ion-item>
                    <ion-label for="username" position="floating">Username</ion-label>
                    <ion-input
                    type="username"
                    class="form-control"
                    formControlName="username"
                    ></ion-input>
                  </ion-item>
                  <ion-text *ngIf="editForm.controls.username.touched && editForm.controls.username.invalid">Username is required</ion-text>


                  <ion-item>
                    <ion-label for="oldPassword" position="floating">Old Password</ion-label>
                    <ion-input
                    type="password"
                    class="form-control"
                    formControlName="oldPassword"></ion-input>
                  </ion-item>
                  <ion-text *ngIf="editForm.controls.oldPassword.touched && editForm.controls.oldPassword.invalid">Password is required</ion-text><br>
                  <ion-text *ngIf="editForm.controls.oldPassword.invalid && editForm.controls.oldPassword.errors.minlength">Password must have 6 characters</ion-text>


                  <ion-item>
                    <ion-label for="newPassword" position="floating">New Password</ion-label>
                    <ion-input
                    type="password"
                    class="form-control"
                    formControlName="newPassword"></ion-input>
                  </ion-item>
                  <ion-text *ngIf="editForm.controls.newPassword.touched && editForm.controls.newPassword.invalid">Password is required</ion-text><br>
                  <ion-text *ngIf="editForm.controls.newPassword.invalid && editForm.controls.newPassword.errors.minlength">Password must have 6 characters</ion-text>

                  <ion-item>
                    <ion-label for="confirmPassword" position="floating">Confirm Password</ion-label>
                    <ion-input
                    type="password"
                    class="form-control"
                    formControlName="confirmPassword"></ion-input>
                  </ion-item>
                  <ion-text *ngIf="editForm.hasError('notSame')">Passwords do not match</ion-text><br>
                  <ion-text *ngIf="editForm.controls.confirmPassword.touched && editForm.controls.confirmPassword.invalid">Password is required</ion-text><br>
                  <ion-text *ngIf="editForm.controls.confirmPassword.invalid && editForm.controls.confirmPassword.errors.minlength">Password must have 6 characters</ion-text>

                </ion-list>
              </ion-card-content>
              <ion-card-content >
                <ion-card-title >
                  <ion-button type="submit" [disabled]="editForm.invalid" color="dark" class="done">DONE</ion-button>
                </ion-card-title>
              </ion-card-content>
            </form>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
