.header-title {
  text-align: center;
  padding-right: 40px;
  font-weight: 600;

}

ion-card-header {
  text-align: center;
  font-size: 1.1rem;
}

.avatar{
  padding-top: 15px;
}

.edit{
  padding-left: 55px;
}

.username{
  font-size: 1rem;
}

ion-card-content{
  padding-top: 0px;
}

.passwordIcon{
  margin-top: 40px;
  width: 1.3rem;
  height: 1.3rem;
}



@media (max-width: 670px) {

  .ios {
    .header-title {
    padding-right: 90px;
    }
  }
  .done{
    padding-left: 100px;
  }
}

@media (max-width: 755px){
  .header-title{
    padding-right: 60px;
  }

  .done{
    padding-left: 100px;
  }
}
