*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

ion-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

ion-card-title{
  text-align: center;
}

ion-card {
  margin-top:100px;
}

