<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-icon routerLink='../landingPage' class="back-btn" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-card-header>{{registerTitle.registerHello}}<br>{{registerTitle.registerTitle}}
</ion-card-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="regForm">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="secondary" for="firstname" position="floating" >{{formLabel.firstname}}</ion-label>
          <ion-input
          type="firstname"
          class="form-control"
          formControlName="firstname"
          [clearOnEdit]="false"></ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="regForm.controls.firstname.touched &&regForm.controls.firstname.errors?.['required']">{{validationText.firstnameRequired}}</ion-text>


        <ion-item>
          <ion-label color="secondary" for="lastname" position="floating">{{formLabel.lastname}}</ion-label>
          <ion-input
          type="lastname"
          class="form-control"
          formControlName="lastname"
          [clearOnEdit]="false"></ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="regForm.controls.lastname.touched && regForm.controls.lastname.errors?.['required']">{{validationText.lastnameRequired}}</ion-text>

        <ion-item>
          <ion-label color="secondary" for="email" position="floating">{{formLabel.email}}</ion-label>
          <ion-input
          type="email"
          email="true"
          class="form-control"
          formControlName="email"
          [clearOnEdit]="false"></ion-input>
        </ion-item>
        <ion-text class="validation-text" *ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.['required']">{{validationText.emailRequired}}</ion-text>
        <ion-text class="validation-text" *ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.['pattern']">{{validationText.emailPattern}}</ion-text>

        <ion-item>
          <ion-label color="secondary" for="password" position="floating">{{formLabel.password}}</ion-label>
          <ion-input
          [type]="passwordType"
          class="form-control"
          formControlName="password"
          [clearOnEdit]="false"></ion-input>
          <ion-icon class="passwordIcon" slot="end" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <ion-text class="validation-text" *ngIf="regForm.controls.email.touched && regForm.controls.password.errors?.['required']">{{validationText.passwordRequired}}</ion-text>
        <ion-text class="validation-text" *ngIf="regForm.controls.password.touched && regForm.controls.password.errors?.['minlength']">{{validationText.passwordLength}}</ion-text>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-card-title>
        <ion-button expand="full" type="submit" color="dark">{{landingStrings.register}}</ion-button>
      </ion-card-title>
    </ion-card-content>
    <hr>
      <ion-card-title style="font-size:small;">{{suggestion.haveAccount}}<ion-text style="cursor:pointer;" color="dark" routerLink="../login"><b>{{suggestion.login}}</b></ion-text></ion-card-title>
    <hr>
  </form>
</ion-content>

<ion-footer>
  <ion-card-title>
    <ion-text class="version" color="secondary">{{landingStrings.version}} {{version}}</ion-text>
  </ion-card-title>
    <ion-card-title color="dark" class="footer-title">
      <ion-text (click)="openPrivacyPolicySite()" style="cursor:pointer;">{{landingStrings.privacy}}</ion-text>|
      <ion-text (click)="openHelp()" style="cursor:pointer;">{{landingStrings.help}}</ion-text>
    </ion-card-title>
</ion-footer>


