*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

ion-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

ion-card-title{
  text-align: center;
}

ion-card {
  margin-top:100px;
}

ion-title{
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding-right: 80px;

}

ion-footer{
  height: 4rem;
}

ion-text {
  font-size: 1rem;
  padding-right: 10px;
}

.footer-title{
  font-size: 1.5rem;
}

