
<ion-content class="ion-padding" color="light">
  <ion-card-title color="dark">{{openProduct.name}}</ion-card-title>
  <ion-img [src]="openProduct.imgsrc"></ion-img>
  <ion-card-header color="dark">SKU: {{openProduct.code}}</ion-card-header>
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>Product</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
