ion-title{
  text-align: center;
  padding-right: 0;
  font-weight: 600;
}

ion-card-title{
  text-align:center;
  padding: 8px;

}

ion-img {
  margin:auto;

}

@media (max-width: 667px){
  .ios{
    ion-title{
      font-size: 1.1rem;
      text-align: center;
      padding-right: 30px;
      padding-left: 0;
    }

    ion-img{
      width: 16rem;
      height: 16rem;
    }
    ion-card-title{
      font-size: 1.2rem;
      padding: 10px;
    }
  }
}
