
<ion-content color="light">
  <ion-text lines="none">
    <ion-text class="back-btn">
      <ion-icon (click)="close()" color="dark" class="back-btn" name="arrow-back-outline"></ion-icon>
    </ion-text>
    <ion-textarea color="tertiary" class="gray-box">
      <ion-buttons
          slot="end"
          (click)="addFav($event, openProduct)"
          class="favButton">
            <ion-icon name="heart-outline" *ngIf="!openProduct.isFavourite" color="dark"></ion-icon>
            <ion-icon  name="heart" *ngIf="openProduct.isFavourite" color="dark"></ion-icon>
          </ion-buttons>
    </ion-textarea>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="openProduct.imgsrc"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-subtitle color="light">{{openProduct.category.toUpperCase()}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-card-title color="dark">{{openProduct.name}}</ion-card-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-header>SKU: {{openProduct.code}}</ion-card-header>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
