
<ion-content color="light">
  <ion-text lines="none">
    <ion-icon (click)="close()" color="dark" class="back-btn" name="arrow-back-outline"></ion-icon>
    <ion-img [src]="openProduct.imgsrc"></ion-img>
    <ion-textarea color="tertiary" class="gray-box">
    </ion-textarea>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card-subtitle color="light">{{openProduct.category.toUpperCase()}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-card-title color="dark">{{openProduct.name}}</ion-card-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-header>SKU: {{openProduct.code}}</ion-card-header>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar color="dark">
    <ion-title>PRODUCT</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
