
  <!-- <ion-header [translucent]="true"  >
    <ion-toolbar color="dark">
      <ion-title>GREATER GOODS PRODUCTS</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="chevron-back-circle-outline" color="dark" [routerLink]="['/home']" ></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p routerLink="../account">LOGOUT</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p [routerLink]="['/home']">HOME</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p routerLink="../help">HELP</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="-3">
          <p routerLink="./privacy">PRIVACY POLICY</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-menu>
    <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GG PRODUCT CODES</ion-title>
      </ion-toolbar>
      <ion-icon slot="end" name="arrow-forward-outline" [routerLink]="['/home']" ></ion-icon>

    </ion-header>

  <ion-content color="light">
    <ion-grid>
      <ion-row>
        <ion-col offset="4">
          <ion-img [src]="prdt.imgSrc"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <h1 text-center>{{ prdt.name }}</h1>
          </ion-item>
          <ion-item>
            <p>{{ prdt.code }}</p>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


