<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-icon (click)="close()" class="back-btn" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="header-title">{{pageTitle.changePassword}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="changeForm" (ngSubmit)="onSubmit()" [formGroup]="changeForm">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label color="secondary" for="oldPassword" position="floating">{{formLabel.oldPassword}}</ion-label>
          <ion-input
          [type]="passwordoldType"
          class="form-control"
          formControlName="oldPassword"
          [clearOnEdit]="false"></ion-input>
          <ion-icon class="passwordIcon" slot="end" item-end [name]="passwordOldIcon" class="passwordIcon" (click)='hideShowOldPassword()'></ion-icon>
        </ion-item>
        <ion-text *ngIf="changeForm.controls.oldPassword.touched && changeForm.controls.oldPassword.errors?.['required']">{{validationText.passwordRequired}}</ion-text>
        <ion-text *ngIf="changeForm.controls.oldPassword.touched && changeForm.controls.oldPassword.errors?.['minlength']">{{validationText.passwordLength}}</ion-text>


        <ion-item>
          <ion-label color="secondary" for="newPassword" position="floating">{{formLabel.newPassword}}</ion-label>
          <ion-input
          [type]="passwordnewType"
          class="form-control"
          formControlName="newPassword"
          [clearOnEdit]="false"></ion-input>
          <ion-icon class="passwordIcon" slot="end" item-end [name]="passwordNewIcon" class="passwordIcon" (click)='hideShowNewPassword()'></ion-icon>
        </ion-item>
        <ion-text *ngIf="changeForm.controls.newPassword.touched && changeForm.controls.newPassword.errors?.['required']">{{validationText.passwordRequired}}</ion-text>
        <ion-text *ngIf="changeForm.controls.newPassword.touched && changeForm.controls.newPassword.errors?.['minlength']">{{validationText.passwordLength}}</ion-text>

        <ion-item>
          <ion-label color="secondary" for="confirmPassword" position="floating">{{formLabel.confirmPassword}}</ion-label>
          <ion-input
          [type]="passwordType"
          class="form-control"
          formControlName="confirmPassword"
          [clearOnEdit]="false"></ion-input>
          <ion-icon class="passwordIcon" slot="end" item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <ion-text *ngIf="changeForm.controls.confirmPassword.errors?.['required'] && changeForm.controls.confirmPassword.touched ">{{validationText.passwordRequired}}</ion-text>
        <ion-text *ngIf="changeForm.controls.confirmPassword.touched && changeForm.controls.confirmPassword.errors?.['minlength']">{{validationText.passwordLength}}</ion-text>
        <ion-text *ngIf="!changeForm.controls.confirmPassword.errors && changeForm.hasError('notSame')">{{validationText.passwordMatch}}</ion-text>

      </ion-list>
    </ion-card-content>
    <ion-card-content >
      <ion-card-title >
        <ion-button expand="full" type="submit" [disabled]="changeForm.invalid" color="secondary" class="done">{{saveBtn.save}}</ion-button>
      </ion-card-title>
    </ion-card-content>
  </form>
</ion-content>
