
*{
  // font-family: 'Open Sans', sans-serif;
  --ion-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.toastMsg{
  text-align: center;
  margin-top: 4%;
  --ion-border-radius: 50px;
}


.ios{

  font-weight: 500;

  // -- Validation failed
  ion-item.ion-invalid.ion-touched{
    border-bottom: 2px solid var(--ion-color-danger) !important;
  }

  //-- Validation passed
  ion-item.ion-valid.ion-touched{
  border-bottom: 2px solid var(--ion-color-success) !important;
  }

  ion-card { border-radius : 0px; }

  ion-searchbar{
    --border-radius: 0;
  }

  @media (max-width: 667px){
    ion-searchbar{
      --padding-start: 25px;
      --padding-end: 25px;
    }

    ion-footer{
      --height: 45px;
    }
  }

}




