  <ion-searchbar slot="fixed"
                color="light"
                [(ngModel)]="searchTerm"
                show-cancel-button="never"
                spellcheck="True"
                placeholder="Search Products"
                (ngModelChange)="onFilterValueChange()"
                ></ion-searchbar>

  <ion-item lines="none" color="tertiary">
    <ion-chip *ngFor="let category of categoryList" (click)="selectCategory(category.category)" [ngClass]="{ 'hintChip': categories.includes(category.category) === true }" >
      <ion-label>{{category.categoryName}}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-content [hidden]="searchProduct===false" color="tertiary">
    <ion-card-header class="notfound">{{notFound.notFound}}<br>{{notFound.noProducts}}</ion-card-header>
  </ion-content>
  <ion-content *ngIf="this.products" color="tertiary">
    <app-view-product *ngFor="let product of products | productFilter: searchTerm" [product]="product" ></app-view-product>
  </ion-content>
