

ion-searchbar{
  padding: 25px 10px 25px 10px;
  background-color: #ededed;
}

.notfound{
  text-align: center;
  padding-top: 70px;
  font-size: 1.1rem;
}

ion-chip{
  font-size: 0.6rem;
  font-weight: 550;
  cursor: pointer;
}

.hintChip{
  background-color: black;
  color: white;
}


ion-icon {
  width: 1.3rem;
  height: 1.3rem;
  padding-right: 10px;
}


.heart{
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
}


ion-item{
  border-bottom: 1px solid gainsboro;
}

@media (max-width: 667px) {

  ion-searchbar{
    padding: 15px 10px 20px 10px;
  }

}

@media (max-width: 740px) {

  .ios{
    ion-searchbar{
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 20px;
    }

  }

}

