

ion-searchbar{
  // margin: 25px 5px 25px 10px;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 94%;
  height: 6%;
  border-right: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  background-color: white;
  // box-shadow: 2px 2px 2px 2px gainsboro;
}

.md{
  ion-searchbar{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.notfound{
  text-align: center;
  padding-top: 70px;
  font-size: 1.1rem;
}

ion-chip{
  font-size: 0.6rem;
  font-weight: 550;
  cursor: pointer;
}

.hintChip{
  background-color: black;
  color: white;
}

ion-icon {
  width: 1.3rem;
  height: 1.3rem;
  padding-right: 10px;
}


.heart{
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
}


ion-item{
  border-bottom: 1px solid gainsboro;
  padding-bottom: 1rem;
}


@media (max-width: 740px){
  .md{
    ion-searchbar{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
