<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title class="header-title">FAVORITE PRODUCTS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="medium">

  <ion-card-title class="nofav" *ngIf="favProducts.length === 0" color="light" style="font-size:1.4rem;">Add favourite Product to show!!</ion-card-title>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item *ngFor="let product of favProducts" color="light" (click)="openModal(product)" style="cursor:pointer ;">
            <ion-thumbnail style="width: 4.9rem ; height: 4.5rem;" slot="start">
                <ion-img [src]="product.imgSrc" ></ion-img>
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title>{{ product.name }}</ion-card-title>
              <ion-card-subtitle>{{ product.code }}</ion-card-subtitle>
            </ion-card-header>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
