.test {
    font-size: 20px;
    /*margin: 48px 0;
    padding: 0 10px;*/
    
}

/*.test__list {
    width: 80%;
    margin: auto;
} */  

.test:first-of-type {
    margin-top: 96px;
}

.test-img {
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    box-shadow: 3px 3px 3px rgba(33, 32, 32, 0.539);
    transform: skew(20deg) scale(0.75);
    overflow: hidden;
}

.t-img{
    width: 400px;
    height: 300px;
    vertical-align: top; 
    /* transform: skew(20deg) scale(0.75); */
    box-shadow: 4px 4px 5px rgba(33, 32, 32, 0.543);
}

.test_info {
    text-align: right;
    padding: 2rem;
    vertical-align: middle;
    display: inline-block;
    width: 20%;
}

#cust-2.test {
    text-align: right;
}
  
#cust-2.test-info {
    text-align: left;
}
  
.test-name {
    margin: 32px;
    color: #d64e62;
    font-size: 2rem;
}
  
.test-sub {
    margin: 32px;
    font-size: 18px;
    color: rgb(74, 57, 62);
}
  
.test-sub a {
    color: inherit;
    text-decoration: none;
}
  
.test-sub a:hover,
.test-sub a:active {
    color: #b2a9a9;
}
  
.test-txt {
    margin: 32px;
}

@media (min-width: 40rem) {
    .test {
        margin: 3rem auto;
        max-width: 1500px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .test_info {
        width: 66%
    }
}
  