
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-img src="assets/icon/ggt.png"></ion-img>
          <ion-card-header>
            <ion-card-title color="dark">GG PRODUCT CODES</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-card-title>
              <ion-button shape="round" color="medium" routerLink="../login">LOGIN</ion-button>
            </ion-card-title>
            <ion-card-title>
              <ion-button shape="round" color="medium" routerLink="../register">REGISTER</ion-button>
            </ion-card-title>
          </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-card-title class="footer-title">
      <ion-text color="dark">VERSION 1.0</ion-text>|
      <ion-text color="dark"><a style="text-decoration:none; color: #5b658b; cursor:pointer ;" href="https://greatergoods.com/legal/privacy-policy">PRIVACY POLICY</a></ion-text>|
      <ion-text color="dark" [routerLink]="['/home/help']" style="cursor:pointer ;">HELP</ion-text>
    </ion-card-title>
  </ion-toolbar>
</ion-footer>




