


.header-title{
  font-size: 1.5rem;
  text-align: center;
  padding-right: 60px;

}

ion-icon{
  width: 1.8rem;
  height: 1.8rem;
  padding-right: 10px;
}

ion-img {
  width: 12rem;
  height: 12rem;
  margin: auto;
  margin-top: 2rem;
}

.title{
  padding: 40px;
  text-align: center;
}

ion-card-content{
  text-align: center;
  font-size: 1rem;
}


@media (max-width: 670px) {

  .header-title{
    font-size: medium;
    padding-right:75px;
  }
  ion-img {
    width: 9rem;
    height: 9rem;
    margin: auto;
    margin-top: 2rem;
  }

  .title{
    font-size: 1.1rem;
  }


}
