
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p routerLink="../account">LOGOUT</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p [routerLink]="['/home']">HOME</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p routerLink="../help">HELP</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="-3">
          <p routerLink="./privacy">PRIVACY POLICY</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    </ion-menu>
    <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>GG PRODUCT CODES</ion-title>
        <ion-icon slot="end" name="arrow-forward-outline" [routerLink]="['/home']" ></ion-icon>

      </ion-toolbar>

    </ion-header>
