ion-toolbar {
	ion-button.back-button::part(native) {
		padding: 0 0 0 4px;
	}

	ion-icon{
		color: var(--ion-color-primary-contrast);
		font-size: 1.7rem;
	}

	.toolbar-title {
		color: var(--ion-color-primary-contrast);
		font-size:18px;
		font-weight: 700;
	}
}
