
<!-- TODO: Set form group and control name to corresponding element -->
<!-- TODO: Show errors wherever required -->
<!-- TODO: set is-invlaid class on input element if form is submitted and control has error -->
<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-group">
              <label for="username">Username</label>
              <input 
                type="text" 
                formControlName="username"
                class="form-control" 
                required
            />
              <div class="invalid-feedback" *ngIf="submitted && f.username.errors">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input 
                type="password" 
                formControlName="password"
                class="form-control"
                required
            />
              <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                  <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                  Login
              </button>
              <!-- TODO: Navigate to Register route on click of this button -->
              
              <a routerLink="../register" class="btn btn-link">
              <button type="button" class="btn btn-primary">Register</button>
              </a>
          </div>
      </form>
  </div>
</div>
