*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

ion-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

ion-card-title{
  text-align: center;
}

ion-card {
  margin-top:100px;
}

ion-title{
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding-right: 70px;
}

ion-button {
  padding-left: 15px;
}


ion-text {
  font-size: 0.8rem;
  padding-right: 10px;
}

.footer-title{
  font-size: 1rem;
}

@media (max-width: 670px) {

  .ios{
    ion-footer{
      height: 45px;
    }
  }


  ion-title{
    font-size: 1.2rem ;
    padding-right: 90px;
  }

  ion-card-title {
    font-size: 1.1rem;
    padding-top: 15px;
  }
  .toolbar{
    padding-top: 0px;
  }


}
