*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

ion-img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-card-title{
  text-align: center;
}

ion-card {
  margin-top:30px;
}

ion-title{
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding-left: 0;

}

.back-btn{
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

ion-button {
  padding-left: 15px;
}

ion-text {
  font-size: 0.8rem;
  padding-right: 10px;
}

.footer-title{
  font-size: 1rem;
}

.passwordIcon{
  margin-top: 40px;
  color: #999ba4;
  width: 1.3rem;
  height: 1.3rem;
}

.toast{
  .toast-wrapper {
    transform: translateY(70px) !important;
}
}

@media (max-width: 670px) {

  .ios{
    ion-footer{
      height: 45px;
    }
    ion-title{
      padding-right: 0px;
    }
  }

  ion-title{
    font-size: 1.2rem ;
    padding-right: 20px;
  }

  ion-card-title {
    font-size: 1.1rem;
    padding-top: 15px;
  }
  .toolbar{
    padding-top: 0px;
  }


}
