<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>GG PRODUCT CODES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-card>
          <ion-card-header >
            <ion-img  src="https://cdn.shopify.com/s/files/1/1088/6518/files/GG_Logo_fe76c075-d81c-42cc-96d2-e46f6af721d8_138x@2x.png?v=1631891100" style="width:150px ;"></ion-img>
            <ion-card-title>Greater Goods Product Codes</ion-card-title>
          </ion-card-header>

          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <ion-card-content>
              <ion-list>
                <ion-item >
                  <ion-label for="email" position="floating">Email ID</ion-label>
                  <ion-input
                  type="email"
                  email="true"
                  class="form-control"
                  formControlName="email"
                  [clearOnEdit]="true">
                </ion-input>
                </ion-item>
                <ion-text *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">Email is required</ion-text><br>
                <ion-text *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.errors.pattern">Enter a valid Email ID</ion-text>

                <ion-item>
                  <ion-label for="password" position="floating">Password</ion-label>
                  <ion-input
                  type="password"
                  class="form-control"
                  formControlName="password"></ion-input>
                </ion-item>
                <ion-text *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">password is required</ion-text><br>
                <ion-text *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.errors.minlength">Password must have 6 characters</ion-text>
              </ion-list>
            </ion-card-content>
            <ion-card-content>
              <ion-card-title>
                <ion-button color="medium" type="submit">LOGIN</ion-button>
                <ion-button color="medium" routerLink="../register">REGISTER</ion-button>
              </ion-card-title>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="tertiary">
    <ion-card-title class="footer-title" color="dark" class="toolbar">
      <ion-text color="dark">VERSION 1.0</ion-text>|
      <ion-text><a style="text-decoration:none; color: #434d69; cursor:pointer ;" href="https://greatergoods.com/legal/privacy-policy">PRIVACY POLICY</a></ion-text>|
      <ion-text color="dark" [routerLink]="['/home/help']" style="cursor:pointer ;">HELP</ion-text>
    </ion-card-title>
  </ion-toolbar>
</ion-footer>
