<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-card >
          <ion-card-header >
            <ion-img  src="https://cdn.shopify.com/s/files/1/1088/6518/files/GG_Logo_fe76c075-d81c-42cc-96d2-e46f6af721d8_138x@2x.png?v=1631891100" style="width:150px ;"></ion-img>
            <ion-card-title>Greater Goods Product Codes</ion-card-title>
          </ion-card-header>

          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label for="email" position="floating">Email ID</ion-label>
                  <ion-input
                  type="email"
                  email="true"
                  class="form-control"
                  formControlName="email"
                  [clearOnEdit]="true"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label for="password" position="floating">Password</ion-label>
                  <ion-input
                  type="password"
                  class="form-control"
                  formControlName="password"></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col offsetSm="2.6">
                  <ion-button type="submit" color="dark">Login</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="dark" routerLink="../register">Register</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
