
<ion-item (click)="openModal(product)" lines="none">
  <ion-thumbnail slot="start">
    <ion-img [src]="product.imgsrc" ></ion-img>
  </ion-thumbnail>
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-card-title color="dark" >{{ product.name }}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-subtitle>SKU: {{ product.code }}</ion-card-subtitle>
        </ion-col>
      <ion-col>
        <ion-card-content>
          <ion-buttons
          slot="end"
          (click)="addFav($event, product)"
          class="favButton">
          <ion-icon name="heart-outline" *ngIf="!product.isFavourite" color="danger"></ion-icon>
          <ion-icon  name="heart" *ngIf="product.isFavourite" color="danger"></ion-icon>
          </ion-buttons>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
