#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-thumbnail {
  width: 4.9rem;
  height: 4.5rem;
}

ion-title{
padding-right: 50px;
}

ion-title{
  text-align: center;
}

ion-card-title {
  font-size: 1.2rem;
}

ion-searchbar{
  padding: 15px;
  padding-right: 35px;
  padding-left: 21px;
}

ion-grid{
  padding-top: 60px;
}

ion-row {
  padding-bottom: 10px;
}

.pdCards:hover {
  cursor: pointer;
}

ion-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 10px;
  margin-bottom: -3px;
}

.menu{
  margin-left: 20px;
  padding-top: 0px ;
}

.menu-title{
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
}

ion-button{
  // border: 1.5px solid white;
  background-color: white;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 80px;

}

@media (max-width: 375px) {

  .ios {
    .ggTitle{
      font-size: 1rem ;
      padding-right: 100px;
    }
    ion-thumbnail {
      width: 4.5rem;
      height: 4.3rem;
    }
  }
  ion-card-title {
    font-size: 1rem;
  }

  ion-button{
    // border: 1.5px solid white;
    background-color: white;
    width: 1.6rem;
    height: 1.6rem;
  }

  ion-card-subtitle{
    padding-top: 10px;
  }

  ion-searchbar{
    padding:  12px ;
  }

}

@media (max-width: 755px) {
  .ggTitle{
    font-size: 1.1rem ;
    padding-right: 20px;
  }

  ion-card-header{
    padding: 20px 10px 20px 0;
  }

  ion-card-title {
    font-size: 1.1rem;
  }
  ion-searchbar{
    padding:  12px ;
  }
}
