<ion-menu contentId="main-content">
<ion-content >
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title><ion-icon name="options-outline"></ion-icon>MENU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item style="padding: 20px 0 20px ;" >
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Hi {{currentUser?.username}}</ion-label>
  </ion-item>

  <ion-grid class="menu">
    <p class="menu-title" routerLink="./edit-profile"><ion-icon name="person"></ion-icon>PROFILE</p>
    <p routerLink="./help" class="menu-title" style="padding-bottom: 18px;" ><ion-icon name="help-circle"></ion-icon>HELP</p>
    <a style="text-decoration:none; color: black; " class="menu-title" href="https://greatergoods.com/legal/privacy-policy"><ion-icon name="shield-half"></ion-icon>PRIVACY POLICY</a>
    <p (click)="logout()" class="menu-title" style="padding-top: 18px;" ><ion-icon name="log-out-outline"></ion-icon>LOGOUT</p>
  </ion-grid>
</ion-content>

  </ion-menu>
  <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ggTitle">GG PRODUCT CODES</ion-title>
      <ion-buttons slot="end" style="padding-right: 30px;">
        <ion-button routerLink="./favorite" color="light">
          <ion-icon class="heart" name="heart" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content  color="tertiary">
    <ion-searchbar slot="fixed" color="light" [(ngModel)]="searchTerm" show-cancel-button="never" placeholder="Search Products"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="primary">
            <ion-item *ngFor="let product of products | filter: searchTerm" color="light">
              <ion-item (click)="openModal(product)" color="light" class="table table-hover" class="pdCards" lines="none">
              <ion-thumbnail slot="start">
                  <ion-img [src]="product.imgSrc" ></ion-img>
              </ion-thumbnail>
              <ion-card-header>
                <ion-card-title>{{ product.name }}</ion-card-title>
                <ion-card-subtitle>{{ product.code }}</ion-card-subtitle>
              </ion-card-header>
            </ion-item>
              <ion-buttons slot="end" (click)="addFav(product)" style="cursor: pointer;">
                <ion-icon style="width:1.4rem; height: 1.4rem;" name="heart-outline" [hidden]="product.isFavourite" color="danger"></ion-icon>
                <ion-icon style="width:1.4rem; height: 1.4rem;" name="heart" [hidden]="!product.isFavourite" color="danger"></ion-icon>
              </ion-buttons>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


