#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-thumbnail {
  width: 5.5rem;
  height: 5.5rem;
}

ion-title{
padding-right: 50px;
}

ion-title{
  text-align: center;
}

ion-card-title {
  font-size: 1.2rem;
  padding-top: 20px;
  font-weight: 520;
}

ion-card-subtitle{
  margin: 0;
  padding-top: 12px;
}

ion-card-content{
  padding: 10px;
  padding-left: 0;
}

.favButton{
  cursor: pointer;
  padding-left: 0;
  width:2rem;
  height: 2rem;
}

ion-searchbar{
  padding: 25px 25px 25px 10px;
  background-color: #c4ea52;
}

.productList{
  margin-top: 0px;
}

.notfound{
  text-align: center;
  padding-top: 70px;
  font-size: 1.1rem;
  font-weight: 500;
}

ion-row {
  padding-bottom: 10px;
}

.pdCards{
  border-bottom: 1px solid rgb(215, 215, 215);
}

.pdCards:hover {
  cursor: pointer;

}

ion-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 10px;
  margin-bottom: -3px;
}

.menu{
  margin-left: 20px;
  padding-top: 0px ;
}

.menu-title{
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
}

ion-button{
  border: 1.5px solid white;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 80px;
}

.heart{
  width: 1.2rem;
  height: 1.2rem;
  margin: auto;
}

.ggTitle{
  font-weight: 600;
}

@media (max-width: 667px) {

  .ios {
    .ggTitle{
      font-size: 1rem ;
      padding-right: 100px;
    }
    ion-thumbnail {
      width: 4.5rem;
      height: 4.3rem;
    }

  }

  ion-card-title {
    font-size: 1rem;
  }


  ion-button{
    // border: 1.5px solid white;
    width: 1.6rem;
    height: 1.6rem;
  }

  ion-card-subtitle{
    padding-top: 10px;
  }

  ion-searchbar{
    padding: 33px 15px 30px 15px;
  }

}

@media (max-width: 755px) {
  .ggTitle{
    font-size: 1.2rem ;
    padding-right: 25px;
  }

  ion-card-header{
    padding: 20px 10px 20px 0;
  }

  ion-card-title {
    font-size: 1.1rem;
  }

  .ios{
    ion-searchbar{
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 20px;
    }

  }

}
