ion-button.back-button::part(native) {
	padding: 0 0 0 4px;
}

ion-icon{
	color: var(--ion-color-primary-contrast);
	font-size: 1.7rem;
}

ion-content {
	--background: transparent;
	--offset-top: 0;
}

ion-card {
	padding: 1rem;
	margin-top: 0;
}

ion-toolbar {
	--background: transparent;
}
