<h1 class="heading">User Details</h1>
<div class="input-box" >
  <label for="fname">User name:</label>
  <input
    type="text"
    id="fname"
    name="firstname"
    placeholder="John"
    (input)="onInputEnter($event)"
  />
</div>

  <section 
  style="display:grid; align-items:center;">
  <div class="card" *ngIf="!entered; else notMatch">
    <!-- Image -->
    <img src={{CurrentImg}} style="width:100%"/>
    <!-- Name -->
    <h1>{{ CurrentName }}</h1>
    <!-- Designation -->
    <p class="title">{{ CurrentDes }}</p>
    <!-- University -->
    <p>{{ CurrentUni }}</p>
    <!-- City -->
    <p>{{ CurrentCity}}</p>
  </div>
  <ng-template #notMatch >
    <div class="card-text">
      No Results Found
    </div>
  </ng-template> 
</section>
