<h1 class="heading">User Details</h1>
<div class="input-box">
  <label for="fname">User name:</label>
  <input
    type="text"
    id="fname"
    name="firstname"
    placeholder="John"
  />
</div>

<section 
  style="display:grid; align-items:center;">
  <div class="card">
    <!-- Image -->
    <img src="" style="width:100%" />
    <!-- Name -->
    <h1></h1>
    <!-- Designation -->
    <p class="title"></p>
    <!-- University -->
    <p></p>
    <!-- City -->
    <p></p>
  </div>
  <div class="card-text">
    No Results Found
  </div>
</section>
